html {
height: 100%;
}

a:link {color:#CD661D;}
 :visited {color:#CD661D;}

body {
height: 100%;
margin: 0;

background-color: #5C5C5C;
font-family: Helvetica, sans-serif;
text-align: center;
color: #FAFAFA;
font-size: 0.8em;
}

#canvas{
width: 1000px;
height: 100%;
}


#sidebar {
position: absolute;
left: 65%;
top: 0;
right: 0;
bottom: 0;
overflow: auto;
padding: 1em;
}


#sidebar img {
vertical-align: middle;
border: none;
}


.roundsquare {
border-radius: 8px;
}

h1,h6 {
font-size:100%;
font-weight:normal;
}

h2{
font-size:125%;
font-weight:bold;
}

h3{
font-size:165%;
font-weight:bold;
}

h4{
text-align: left;
font-size:90%;
font-weight:bold;
}

h5{
font-size:90%;
font-weight:bold;
}